@use './helpers/' as *;

:root {
  --color-light: #FCFAF7;
  --color-light-alt: #FFFFFF;

  --color-dark: #2C2C2C;
  --color-dark-alt: #7F8C8D;

  --color-gray: #C8C8C8;
  --color-gray-alt: #FAFAFA;

  --color-accent: #2E7D64;

  --color-error: #DC2828;

  --color-rain: #5C8BB5;

  --color-sunny-background: linear-gradient(150deg, #F5A345, #F0CE0A);
  --color-rain-background: linear-gradient(150deg, #4577F5, #519DDB);
  --color-snow-background: linear-gradient(150deg, #97CBEB, #C4E5F9);
  --color-ice-background: linear-gradient(150deg, #84CDFB, #ACDFFF);
  --color-mix-background: var(--color-light-alt);
  --color-night-background: #505050;

  --font-family: 'Manrope', system-ui, sans-serif;

  --container-width: #{rem(1280)};
  --container-padding-x: #{rem(80)};

  --section-padding-y: #{rem(40)};

  --transition-duration: 0.2s;

  @include tablet {
    --container-padding-x: #{rem(20)};
  }
}
